body {
   background-color: grey;
}
header {
  
   border-bottom: 4px salmon;
}
.row {
   margin-left: 0%;
   bottom: pink;
}
.container {
   margin-left: 0%;
}
/*#current-weather {
   position: absolute;
   background-color: lavender;
   justify-content: center;
   left: 20%;
   border: 5px;

} */
#future-weather {
   left: 30%;
   margin-top: 12px;
}
#clear-history {
   margin-top: 20px;
}